<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Productos inactivos en el sistema</title>
<link rel="icon" th:href="@{/imagenes/logos/logo.png}" type="image/png">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
	crossorigin="anonymous">
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">
<!--Estilos personalizados-->
<link th:href="@{/css/Estilos.css}" rel="stylesheet">
<!-- ICONOS -->
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
	rel="stylesheet">

</head>
<body>

	<!-- Se reutiliza la cabecera de la plantilla -->
	<header th:include="usuarios/plantillausuario.html::2headeradmin">
	</header>
	</br>
	</br>

	<div class="container">
		<!-- Página de usuario -->
		<h1 class="mt-4 mb-3">
			Productos inactivos en el sistema <small></small>
		</h1>



		<div class="container mt-4">

			<div class="row">
				<div class="col-auto">
					<form id="searchForm" method="post">
						<div class="input-group mb-3">
							<input type="search" id="nombreProducto" name="nombreProducto"
								class="form-control rounded" placeholder="Buscar por nombre"
								aria-label="Search" aria-describedby="search-addon" />
								
							 <input type="hidden" id="estadoProductoBuscador" value="0">
							<button type="submit" class="btn btn-primary"
								data-mdb-ripple-init>
								<i class="fas fa-search"></i>
							</button>
						</div>


					</form>
				</div>




				<div class="col-auto">
					<div class="input-group mb-3">
						<select class="form-select" id="categoria" name="categoria">
							<option value="">Selecciona una categoría</option>
							<option value="0">Todos</option>
							<option th:each="categoria : ${Categorias}"
								th:value="${categoria.id}"
								th:text="${categoria.nombreCategoria}"></option>
						</select>
					</div>
				</div>
			</div>



			</br> </br>

			<ol class="breadcrumb">

				<li class="breadcrumb-item"><a th:href="@{/Admin/home}">Inicio</a></li>
				<li class="breadcrumb-item"><a th:href="@{/Productos/Listar}">Productos
						activos</a></li>
				<li class="breadcrumb-item active">Productos inactivos</li>
			</ol>
			<!-- Blog Post -->
			<div class="card mb-4">
				<div class="card-body">
					<div class="row">
						<div class="col-lg-9">
							<table class="table">
								<thead>
									<tr>
										<th scope="col">Nombre</th>
										<th scope="col">Descripción</th>
										<th scope="col">Categoria</th>
										<th scope="col">Inventario</th>
										<th scope="col">Precio</th>
										<th scope="col">Imagen</th>
                                        <th scope="col">Desactivar producto</th>

									</tr>
								</thead>
								<tbody>
									<tr th:id="'producto-' + ${Productos.id}"
										th:each="Productos : ${Productos}">
										<td th:text="${Productos.nombre}"></td>
										<td th:text="${Productos.descripcion}"></td>
										<td th:text="${Productos.categoria.nombreCategoria}"></td>
										<td th:text="${Productos.cantidad}"></td>
										<td
											th:text="'$' + ${#numbers.formatDecimal(Productos.precio, 0, 'POINT', 0, 'COMMA')}"></td>

										<td><img
											th:src="@{/imagenes-productos/{imagen}(imagen=${Productos.imagen})}"
											alt="Product Thumbnail" class="tab-image"
											style="width: 60px; height: 60px;"></td>


                                        <td>
											<button class="btn btn-secondary" type="button"
												th:onclick="'activarProducto(' + ${Productos.id} + ')'">Activar</button>
										</td>


									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<!-- NAVEGACION DEL PAGINADO -->
			<nav>
				<ul class="pagination">
					<li class="page-item"
						th:classappend="${Productos.hasPrevious()} ? '' : 'disabled'">
						<a class="page-link"
						th:href="@{/Listar(page=${Productos.number - 1})}">Anterior</a>
					</li>
					<li class="page-item"
						th:each="i : ${#numbers.sequence(0, Productos.totalPages - 1)}"
						th:classappend="${i == Productos.number} ? 'active'"><a
						class="page-link" th:href="@{/Productos/Listar(page=${i})}"
						th:text="${i + 1}">1</a></li>
					<li class="page-item"
						th:classappend="${Productos.hasNext()} ? '' : 'disabled'"><a
						class="page-link"
						th:href="@{/Listar(page=${Productos.number + 1})}">Siguiente</a></li>
				</ul>
			</nav>

		</div>



                                





    <input type="hidden" id="estadoProducto" value="0">
	</div>

	<!--Incluye plantilla de pie de pagina -->
	<div th:include="usuarios/plantillausuario.html::adminfooter"></div>
	<!-- Incluye Bootstrap JS y Popper.js para las ventanas modales -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




	<script th:src="@{/js/productos-ajax.js}"></script>
</body>
</html>
